<a href="https://colab.research.google.com/github/bruceMacLeod/COS475-575/blob/main/Lab/Lab2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Lab 2

    Python practice to help with Assignment 1

### Names :

Sean Fletcher

partners:
Nick, SJ, and Damian

### Dictionaries

In [4]:
# create a dictionary to hold the following data :
#
#      Bruce     120
#      Bob       110
#      Cindy     140
#      Cathy     100

name_dict = {'Bruce': '120', 'Bob': '110', 'Cindy': '140', 'Cathy': '100'}

string_01 = '100'

print(int(string_01) + 10)

110

In [5]:
# write a function named average that computes the average of all dictionary values and returns the result
def average(input_dict):
  sum = 0
  for val in input_dict.values():
    int_val = int(val)
    sum += int_val
  return sum

print(average(name_dict))

470

### List Comprehensions

In [6]:
#   Replace the following loop using list comprehension

fruits = ['banana', 'pear', 'strawberry', 'apple', 'pineapple', 'orange']

output = [x.upper() for x in fruits]
# for fruit in fruits:
#     output.append(fruit.upper())
output

['BANANA', 'PEAR', 'STRAWBERRY', 'APPLE', 'PINEAPPLE', 'ORANGE']

In [7]:
# Using list comprehensions to create a list of fruits with 5 or more characters
lst_5_or_more = [x for x in fruits if len(x) > 4]
lst_5_or_more

['banana', 'strawberry', 'apple', 'pineapple', 'orange']

In [8]:
# Create a list from the elements of a range from 1200 to 2000 with steps of 130, using list comprehension.
# hint : may want to look at the parameters of the range function

new_range_list = [x for x in range(1200, 2000, 130)]
new_range_list

[1200, 1330, 1460, 1590, 1720, 1850, 1980]

In [9]:
# Create a dictionary consisting of vehicles and their weights in kilograms. (You can make #s up)
# Contruct a list of the names of vehicles with weight below 5000 kilograms.
# In the same list comprehension make the key names all upper case.

car_dict = {'carname': 3829, 'anothercarname': 63728, 'truckname': 5001, 'anothetruckname': 8430, 'bug': 2376}
little_cars = [car.upper() for car in car_dict.keys() if car_dict[car] < 5000]
little_cars

['CARNAME', 'BUG']

### Object Oriented Python
One reference : https://pynative.com/python-classes-and-objects/

In [10]:
# Write a Rectangle class in Python language, allowing you to build a rectangle with length and width attributes.
#     the length and width attributes should be provided when the rectangle object is created

class RectangleClass:
  def Parimeter(self):
    self.parimeter = 2*self.length + 2* self.height

  def Area(self):
    self.area = self.length*self.height


  def __init__(self, length, height):
    self.length = length
    self.height = height
    self.Parimeter()
    self.Area()

  def display(self):
    print(
        'Length: ' + self.length + '\n'
        'Height: ' + self.height + '\n'
        'Perimeter: ' + self.parimeter + '\n'
        'Area: ' + self.area + '\n'
        )

  def __str__(self):
    return f"Len: {self.length}\n Height: {self.height} \n Parameter: {self.parimeter} \n Area: {self.area}"

steve = RectangleClass(3, 5)

print(steve)

# Create a Perimeter() method to calculate the perimeter of the rectangle and a Area() method
#     to calculate the area of the rectangle.

# Create a method display() that display the length, width, perimeter and area of a rectangle object

# Provide a string representation of the rectangle variables that gets printed when printing a rectangle object
#     The current behavior of printing a rectangle is like : <__main__.Rectangle object at 0x7fcbb774f9a0>

Len: 3
 Height: 5
 Parameter: 16
 Area: 15

### Reading data files using Pandas, Panda exercises

In [11]:
# the following code will help us pull data from the NHANES cdc website to our local machine
# feel free to ask questions if you do not understand the code
import os
import tarfile
import urllib

DOWNLOAD_ROOT = "https://wwwn.cdc.gov/Nchs/Nhanes/2017-2018/"
LOCAL_DATA_PATH = os.path.join("datasets", "nhanes") + "/"
FILE_NAME = "P_DEMO.XPT"

def fetch_nhanes_data(file_name=FILE_NAME, nhanes_url=DOWNLOAD_ROOT,  nhanes_path=LOCAL_DATA_PATH):
    os.makedirs(nhanes_path, exist_ok=True)
    xpt_path = os.path.join(nhanes_path, file_name)
    url = nhanes_url + file_name
    urllib.request.urlretrieve(url, xpt_path)

In [12]:
# The default arguments will transfer the demographic data of patients to our local machine
fetch_nhanes_data()

In [13]:
# The files are in a format that is used by the SAS statistical software program. Fortunately,
# the panda library has routines for reading in data in many different formats, including sas format (.xpt file)
# Specifically, the following command will read the local demographic data into a pandas dataframe:

import pandas as pd
demo_df = pd.read_sas(LOCAL_DATA_PATH + "P_DEMO.XPT")

In [ ]:
# Display the contents of the first 8 rows of demographic data
demo_df[:8]

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDRETH1,RIDRETH3,RIDEXMON,DMDBORN4,...,FIAINTRP,MIALANG,MIAPROXY,MIAINTRP,AIALANGA,WTINTPRP,WTMECPRP,SDMVPSU,SDMVSTRA,INDFMPIR
0,109263.0,66.0,2.0,1.0,2.0,NaN,5.0,6.0,2.0,1.0,...,2.0,NaN,NaN,NaN,NaN,7891.762435,8.951816e+03,3.0,156.0,4.66
1,109264.0,66.0,2.0,2.0,13.0,NaN,1.0,1.0,2.0,1.0,...,2.0,1.0,2.0,2.0,1.0,11689.747264,1.227116e+04,1.0,155.0,0.83
2,109265.0,66.0,2.0,1.0,2.0,NaN,3.0,3.0,2.0,1.0,...,2.0,NaN,NaN,NaN,NaN,16273.825939,1.665876e+04,1.0,157.0,3.06
3,109266.0,66.0,2.0,2.0,29.0,NaN,5.0,6.0,2.0,2.0,...,2.0,1.0,2.0,2.0,1.0,7825.646112,8.154968e+03,2.0,168.0,5.00
4,109267.0,66.0,1.0,2.0,21.0,NaN,2.0,2.0,NaN,2.0,...,2.0,NaN,NaN,NaN,NaN,26379.991724,5.397605e-79,1.0,156.0,5.00
5,109268.0,66.0,1.0,2.0,18.0,NaN,3.0,3.0,NaN,1.0,...,2.0,NaN,NaN,NaN,NaN,19639.221008,5.397605e-79,1.0,155.0,1.66
6,109269.0,66.0,2.0,1.0,2.0,NaN,2.0,2.0,1.0,1.0,...,2.0,NaN,NaN,NaN,NaN,5906.250521,6.848272e+03,2.0,152.0,0.96
7,109270.0,66.0,2.0,2.0,11.0,NaN,4.0,4.0,1.0,1.0,...,2.0,1.0,2.0,2.0,NaN,4613.057696,4.886930e+03,1.0,150.0,1.88

Warning: Total number of columns (29) exceeds max_columns (20) limiting to first (20) columns.

In [14]:
# Of course, the data represented by these columns are in many cases unclear. Good machine learning always
# starts with understanding the problem domain and understanding the data being used.

# With that in mind,  locate the documentation for the demographic data and describe the data
# in the columns : 'SEQN', 'SDDSRVYR', 'RIDSTATR', 'RIAGENDR', 'RIDAGEYR', 'RIDRETH1'  Create a markdown cell below
# to provide these definitions.

# Sometimes the documentation is insufficient and you may need to do a bit of digging to get definitions that
# you understand

'**SEQN**' - "Respondent sequence number" - this is an individual number assigned to each participant for identification purposes because there is a chance of the data between separate individuals being the same.

'**SDDSRVYR**' - "Data release cycle" - I'm assuming this refers to a specific "cycle". But data release cycles are the process of collecting, processing, validating, possibly modeling and publishing, and evaluating and updating data. This happens before data is released, if/when it is released. I'm sure something like this happens even for datasets that are not released for public use.

'**RIDSTATR**' - "Interview and examination status of the participant" - I'm assuming this value is used to see how much of an interview a participant completed. Maybe they willingly completed a physical examination but refused to participate in a psychological examination, hence the 1.0 vs. 2.0

'**RIAGENDR**' - "Gender of the participant" - Yup.

'**RIDAGEYR**' - "Age in years of the participant at the time of screening. Individuals 80 and over are topcoded at 80 years of age." - Yup.

'**RIDRETH1**' - "Recode of reported race and Hispanic origin information" - this, I believe, is for standardizing this field so the data from this survey/cycle can be used alongside similarly reported data from a separate survey or cycle. What I think it means is that if in THIS cycle, if you are a non-hispanic asian it is coded as 2, but in a separate survey that same information might be coded as a 7, so for this data to join the other data it needs to be uniform in representation and the 2 needs to be recoded as a 7. I hope this makes sense. It makes sense in my head.

In [15]:
# Write code to create a new dataframe named demov2_df with just the columns :
#     'SEQN', 'SDDSRVYR', 'RIDSTATR', 'RIAGENDR', 'RIDAGEYR', 'RIDRETH1',

demov2_df = demo_df.iloc[:, [0, 1, 2, 3, 4, 6]]
demov2_df[:8]

       SEQN  SDDSRVYR  RIDSTATR  RIAGENDR  RIDAGEYR  RIDRETH1
0  109263.0      66.0       2.0       1.0       2.0       5.0
1  109264.0      66.0       2.0       2.0      13.0       1.0
2  109265.0      66.0       2.0       1.0       2.0       3.0
3  109266.0      66.0       2.0       2.0      29.0       5.0
4  109267.0      66.0       1.0       2.0      21.0       2.0
5  109268.0      66.0       1.0       2.0      18.0       3.0
6  109269.0      66.0       2.0       1.0       2.0       2.0
7  109270.0      66.0       2.0       2.0      11.0       4.0

In [38]:
# playing_with_data = {'A': [1, 2, None, 4, 5],
#         'B': [None, 2, 3, None, 5],
#         'C': [1, 2, 3, 4, 5]}
# df = pd.DataFrame(playing_with_data)

# foo = df['B'].isna()
# barr = [i for i in foo if i != False]
# print(foo)
# print(barr)

# print(df)

In [40]:
# How many missing values in the SEQN column ? RIDRETHI column ?
column_names = ['SEQN', 'RIDRETH1']

for name in column_names:
  value_indexes = demo_df[name].isna()
  null_values = [val for val in value_indexes if val == True]
  print(f"Column {name} has '{len(null_values)}' missing values.")

Column SEQN has '0' missing values.
Column RIDRETH1 has '0' missing values.

In [46]:
# Create two new dataframes
#      demo_adult with individuals with age 21 or greater
#      demo_child with ages less than 21

demo_adult = demo_df[demo_df['RIDAGEYR'] >= 21]
demo_child = demo_df[demo_df['RIDAGEYR'] < 21]

# demo_adult[:19]
# demo_child[:19]

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDRETH1,RIDRETH3,RIDEXMON,DMDBORN4,...,FIAINTRP,MIALANG,MIAPROXY,MIAINTRP,AIALANGA,WTINTPRP,WTMECPRP,SDMVPSU,SDMVSTRA,INDFMPIR
0,109263.0,66.0,2.0,1.0,2.000000e+00,NaN,5.0,6.0,2.0,1.0,...,2.0,NaN,NaN,NaN,NaN,7891.762435,8.951816e+03,3.0,156.0,4.660000e+00
1,109264.0,66.0,2.0,2.0,1.300000e+01,NaN,1.0,1.0,2.0,1.0,...,2.0,1.0,2.0,2.0,1.0,11689.747264,1.227116e+04,1.0,155.0,8.300000e-01
2,109265.0,66.0,2.0,1.0,2.000000e+00,NaN,3.0,3.0,2.0,1.0,...,2.0,NaN,NaN,NaN,NaN,16273.825939,1.665876e+04,1.0,157.0,3.060000e+00
5,109268.0,66.0,1.0,2.0,1.800000e+01,NaN,3.0,3.0,NaN,1.0,...,2.0,NaN,NaN,NaN,NaN,19639.221008,5.397605e-79,1.0,155.0,1.660000e+00
6,109269.0,66.0,2.0,1.0,2.000000e+00,NaN,2.0,2.0,1.0,1.0,...,2.0,NaN,NaN,NaN,NaN,5906.250521,6.848272e+03,2.0,152.0,9.600000e-01
7,109270.0,66.0,2.0,2.0,1.100000e+01,NaN,4.0,4.0,1.0,1.0,...,2.0,1.0,2.0,2.0,NaN,4613.057696,4.886930e+03,1.0,150.0,1.880000e+00
9,109272.0,66.0,2.0,1.0,5.397605e-79,3.0,1.0,1.0,2.0,1.0,...,2.0,NaN,NaN,NaN,NaN,7037.380216,7.872776e+03,1.0,155.0,7.300000e-01
12,109275.0,66.0,2.0,1.0,6.000000e+00,NaN,3.0,3.0,2.0,1.0,...,2.0,NaN,NaN,NaN,NaN,16372.533970,1.761033e+04,2.0,164.0,3.740000e+00
13,109276.0,66.0,2.0,1.0,5.397605e-79,2.0,4.0,4.0,2.0,1.0,...,2.0,NaN,NaN,NaN,NaN,1652.540459,1.810573e+03,1.0,171.0,5.397605e-79
14,109277.0,66.0,2.0,2.0,1.200000e+01,NaN,1.0,1.0,1.0,1.0,...,2.0,1.0,2.0,2.0,2.0,16385.743307,1.751942e+04,2.0,161.0,1.350000e+00
15,109278.0,66.0,2.0,2.0,6.000000e+00,NaN,2.0,2.0,2.0,1.0,...,2.0,NaN,NaN,NaN,NaN,10119.759284,1.095871e+04,1.0,171.0,NaN
16,109279.0,66.0,2.0,2.0,1.700000e+01,NaN,3.0,3.0,2.0,1.0,...,2.0,1.0,2.0,2.0,1.0,11041.633812,1.116780e+04,2.0,169.0,1.190000e+00
17,109280.0,66.0,2.0,2.0,2.000000e+00,NaN,1.0,1.0,2.0,1.0,...,2.0,NaN,NaN,NaN,NaN,14332.246278,1.611506e+04,1.0,155.0,1.710000e+00
18,109281.0,66.0,2.0,2.0,5.397605e-79,1.0,1.0,1.0,1.0,1.0,...,2.0,NaN,NaN,NaN,NaN,2116.528118,2.301304e+03,2.0,150.0,9.400000e-01
22,109285.0,66.0,2.0,1.0,1.600000e+01,NaN,4.0,4.0,2.0,1.0,...,2.0,1.0,2.0,2.0,1.0,27778.645672,2.993101e+04,1.0,163.0,2.390000e+00
24,109287.0,66.0,2.0,2.0,1.100000e+01,NaN,3.0,3.0,1.0,1.0,...,2.0,1.0,2.0,2.0,NaN,7296.432792,8.692742e+03,1.0,150.0,5.900000e-01
25,109288.0,66.0,2.0,1.0,5.000000e+00,NaN,2.0,2.0,1.0,1.0,...,2.0,NaN,NaN,NaN,NaN,6125.306254,7.144714e+03,2.0,151.0,2.100000e-01
26,109289.0,66.0,2.0,1.0,2.000000e+00,NaN,5.0,7.0,2.0,1.0,...,2.0,NaN,NaN,NaN,NaN,1828.133543,2.018368e+03,1.0,171.0,6.600000e-01
31,109294.0,66.0,2.0,2.0,5.397605e-79,10.0,5.0,7.0,1.0,1.0,...,2.0,NaN,NaN,NaN,NaN,2617.289014,2.956809e+03,2.0,167.0,5.000000e+00

Warning: Total number of columns (29) exceeds max_columns (20) limiting to first (20) columns.

In [70]:
# what is the ratio of females/total in each of the above dataframes ?

# I see that 'RIAGENDR' is coded with 1s and 2s, so I use the code below to figure out for sure what the 1s and 2s mean.
# Very useful that there's a pregnancy column.
gender_and_preg_df = demo_df[['RIAGENDR', 'RIDEXPRG']]
only_preg_df = gender_and_preg_df[gender_and_preg_df['RIDEXPRG'].notna()]
only_preg_df[:20]
# pregnant people are always coded as a 2 in the RIAGENDR column, safe to assume that 2's mean female

demo_adult_female = demo_adult[demo_adult['RIAGENDR'] == 2]
demo_child_female = demo_child[demo_child['RIAGENDR'] == 2]
num_of_adult_female = len(demo_adult_female)
num_of_child_female = len(demo_child_female)

print(f"The ratio of females/totale for the demo_adult dataframe is {num_of_adult_female/len(demo_adult)}")
print(f"The ratio of females/totale for the demo_child dataframe is {num_of_child_female/len(demo_child)}")

The ratio of females/totale for the demo_adult dataframe is 0.5143798024149286
The ratio of females/totale for the demo_child dataframe is 0.4888372093023256